* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: #eee;
  font-family: "poppins" sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.grid {
  display: grid;
  width: 100%;
  height: 100vm;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  align-items: start;
  margin-top: 90px;
  margin-left: 10px;
}
.grid-item {
  background-color: #fff;
  border-radius: 0.4em;
  overflow: hidden;
  box-shadow: 0 3em 6em rgba(0);
  cursor: pointer;
  max-height: 395px;
  /* overflow-y: scroll; */
  min-height: 363px;
}
.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4em 8em rgba(0, 0, 0, 0.5);
}

.card-header {
  font-size: 2em;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
  background-color: none !important;
  border-bottom: none !important;
  height: 60px;
}
.card-text {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
  bottom: 0px;
}
.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card-btn :hover,
.card-btn:active {
  background-color: #c2cffc;
}
.card-btn :hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}
@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }
  .grid {
    grid-gap: 3rem;
  }
  .button {
    width: 23%;
  }
}
.card-img {
  width: 100%;
  height: 150px;
}
