/* .search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 20%;
  line-height: 30px;
}

@media only screen and (max-width: 60em) {
  .search {
    width: 38%;
  }
} */
